* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

body {
    background: #000;
    overflow-x: hidden;
    font-family: var(--font-family), Arial, sans-serif;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}
html {
    scroll-behavior: smooth;
}
